.mySchool-container{
    max-width: 1320px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.123);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.mySchool-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mySchool-container h3{
    margin-bottom: 10px;
    color: var(--black-secondary-text);
}



@media screen and (max-width: 720px) {
.mySchool-info{
    flex-direction: column;
}
.mySchool-container button{
    width: 100%;
    margin-top: 10px;
}
}
